<form class="actor-sheet {{ cssClass }}" autocomplete="off">
  {{ log actor }}

  {{> "systems/brigandyne/templates/partials/actor/header.hbs" actor=actor}}

  {{#each tabs as |onetab|}}
  {{> (concat (concat "systems/brigandyne/templates/partials/actor/pannels/" onetab) ".hbs") actor=../actor display=(eq onetab ../tab)}}
  {{/each}}
</form>
